<ion-view view-title="My Hive">
  <ion-content>
    
    <div class="list card" style="width: 100%; margin-left: 0px; margin-right: 0px;">
      <div class="item item-divider">
        In Development
      </div>
      <a href="#" class="item item-text-wrap item-avatar">
        <img src="img/hivelogo.jpg">
        <h2>Idea Name</h2>
        <p>Health & Fitness</p>
      </a>
    </div>
    
    <div class="list card" style="width: 100%; margin-left: 0px; margin-right: 0px;">
      <div class="item item-divider">
        Saved Drafts
      </div>
      <a href="#" class="item item-text-wrap item-avatar">
        <img src="img/hivelogo.jpg">
        <h2>Idea Name</h2>
        <p>Finance</p>
      </a>
    </div>
    
    <div class="list card" style="width: 100%; margin-left: 0px; margin-right: 0px;">
      <div class="item item-divider">
        Pending Development
      </div>
      <a href="#" class="item item-text-wrap item-avatar">
        <img src="img/hivelogo.jpg">
        <h2>Idea Name</h2>
        <p>Finance</p>
      </a>
    </div>
    
    <div class="list card" style="width: 100%; margin-left: 0px; margin-right: 0px;">
      <div class="item item-divider">
        Pending Review
      </div>
      <a href="#" class="item item-text-wrap item-avatar">
        <img src="img/hivelogo.jpg">
        <h2>Idea Name</h2>
        <p>Games</p>
      </a>
    </div>
    
    <div class="list card" style="width: 100%; margin-left: 0px; margin-right: 0px;">
      <div class="item item-divider">
        Voted
      </div>
      <a href="#" class="item item-text-wrap item-avatar">
        <img src="img/hivelogo.jpg">
        <h2>Idea Name</h2>
        <p>Utilities</p>
      </a>
    </div>
    
  </ion-content>
</ion-view>
